<div>
    <h2 id="page-heading">
        <span>Store Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-store-type" [routerLink]="['/store-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Store Type
            </span>
        </button>
    </h2>
    <-alert></-alert>
    <br/>
    <div class="table-responsive" *ngIf="storeTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Store Type ID</span></th>
            <th><span>Store Type Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let storeType of storeTypes ;trackBy: trackId">
                <td><a [routerLink]="['/store-type', storeType.id, 'view' ]">{{storeType.id}}</a></td>
                <td>{{storeType.storeTypeID}}</td>
                <td>{{storeType.storeTypeName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/store-type', storeType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/store-type', storeType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'store-type/'+ storeType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
