<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="storeType">
            <h2><span>Store Type</span> {{storeType.id}}</h2>
            <hr>
            <-alert-error></-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Store Type ID</span></dt>
                <dd>
                    <span>{{storeType.storeTypeID}}</span>
                </dd>
                <dt><span>Store Type Name</span></dt>
                <dd>
                    <span>{{storeType.storeTypeName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/store-type', storeType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
