<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userStoreGroup">
            <h2><span>User Store Group</span> {{userStoreGroup.id}}</h2>
            <hr>
            <-alert-error></-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Store Group ID</span></dt>
                <dd>
                    <span>{{userStoreGroup.storeGroupID}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{userStoreGroup.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-store-group', userStoreGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
