<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="storeGroup">
            <h2><span>Store Group</span> {{storeGroup.id}}</h2>
            <hr>
            <-alert-error></-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Store Type</span></dt>
                <dd>
                    <div *ngIf="storeGroup.storeTypeId">
                        <a [routerLink]="['/store-type', storeGroup.storeTypeId, 'view']">{{storeGroup.storeTypeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/store-group', storeGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
