<div>
    <h2 id="page-heading">
        <span>Store Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-store-group" [routerLink]="['/store-group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Store Group
            </span>
        </button>
    </h2>
    <-alert></-alert>
    <br/>
    <div class="table-responsive" *ngIf="storeGroups">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Store Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let storeGroup of storeGroups ;trackBy: trackId">
                <td><a [routerLink]="['/store-group', storeGroup.id, 'view' ]">{{storeGroup.id}}</a></td>
                <td>
                    <div *ngIf="storeGroup.storeTypeId">
                        <a [routerLink]="['../store-type', storeGroup.storeTypeId , 'view' ]" >{{storeGroup.storeTypeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/store-group', storeGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/store-group', storeGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'store-group/'+ storeGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
