<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span>Customer</span> {{customer.id}}</h2>
            <hr>
            <-alert-error></-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Customer ID</span></dt>
                <dd>
                    <span>{{customer.customerID}}</span>
                </dd>
                <dt><span>Customer Password</span></dt>
                <dd>
                    <span>{{customer.customerPassword}}</span>
                </dd>
                <dt><span>Customer Full Name</span></dt>
                <dd>
                    <span>{{customer.customerFullName}}</span>
                </dd>
                <dt><span>Customer DOB</span></dt>
                <dd>
                    <span>{{customer.customerDOB}}</span>
                </dd>
                <dt><span>Customer Phone</span></dt>
                <dd>
                    <span>{{customer.customerPhone}}</span>
                </dd>
                <dt><span>Customer Address</span></dt>
                <dd>
                    <span>{{customer.customerAddress}}</span>
                </dd>
                <dt><span>Role</span></dt>
                <dd>
                    <div *ngIf="customer.roleId">
                        <a [routerLink]="['/role', customer.roleId, 'view']">{{customer.roleId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
