<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="-voucher-heading">Create or edit a Voucher</h2>
            <div>
                <-alert-error></-alert-error>
                <div class="form-group" [hidden]="!voucher.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="voucher.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_voucherID">Voucher ID</label>
                    <input type="number" class="form-control" name="voucherID" id="field_voucherID"
                        [(ngModel)]="voucher.voucherID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_voucherNumber">Voucher Number</label>
                    <input type="text" class="form-control" name="voucherNumber" id="field_voucherNumber"
                        [(ngModel)]="voucher.voucherNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_voucherStatus">Voucher Status</label>
                    <input type="checkbox" class="form-control" name="voucherStatus" id="field_voucherStatus"
                        [(ngModel)]="voucher.voucherStatus" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_post">Post</label>
                    <select class="form-control" id="field_post" name="post" [(ngModel)]="voucher.postId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="postOption.id" *ngFor="let postOption of posts; trackBy: trackPostById">{{postOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
