<div>
    <h2 id="page-heading">
        <span>Point Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-point-log" [routerLink]="['/point-log/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Point Log
            </span>
        </button>
    </h2>
    <-alert></-alert>
    <br/>
    <div class="table-responsive" *ngIf="pointLogs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Point Log ID</span></th>
            <th><span>Point Log Point Spent</span></th>
            <th><span>Point Log Date Used</span></th>
            <th><span>Voucher</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pointLog of pointLogs ;trackBy: trackId">
                <td><a [routerLink]="['/point-log', pointLog.id, 'view' ]">{{pointLog.id}}</a></td>
                <td>{{pointLog.pointLogID}}</td>
                <td>{{pointLog.pointLogPointSpent}}</td>
                <td>{{pointLog.pointLogDateUsed | date:'medium'}}</td>
                <td>
                    <div *ngIf="pointLog.voucherId">
                        <a [routerLink]="['../voucher', pointLog.voucherId , 'view' ]" >{{pointLog.voucherId}}</a>
                    </div>
                </td>
                <td>
                    {{pointLog.userId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/point-log', pointLog.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/point-log', pointLog.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'point-log/'+ pointLog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
